/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BEGIN CSS */

/* General */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px
}

body {
    background-color: #F5E9D3;
    font: 400 16px/24px "Open Sans", Helvetica, Arial, sans-serif;
    color: #313131
}

/* Typography */

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

h1 {
    font: 400 16px/22px "Muli", sans-serif;
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
}

a:link {
    color: #FF6037;
}



/* Homepage */

.logo {
    margin: auto;
    padding-top: 250px;
}

.logo h1,h3 {
    text-align: center;
}

.introduction {
    background-color: #80CCEA;
    height: 200px;
    margin: auto;
    text-align: center;
    line-height: 200px;
}

.introduction h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

footer {
    padding-top: 10px;
    text-align: center;
}